<%= form_for(entrada) do |f| %>
  <% if entrada.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(entrada.errors.count, "error") %> prohibited this entrada from being saved:</h2>

      <ul>
      <% entrada.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :fecha %>
    <%= f.date_select :fecha %>
  </div>

  <div class="field">
    <%= f.label :remision %>
    <%= f.number_field :remision %>
  </div>

  <div class="field">
    <%= f.label :articulo %>
    <%= f.text_field :articulo %>
  </div>

  <div class="field">
    <%= f.label :cantidad %>
    <%= f.text_field :cantidad %>
  </div>

  <div class="field">
    <%= f.label :recibe %>
    <%= f.text_field :recibe %>
  </div>

  <div class="field">
    <%= f.label :proveedor %>
    <%= f.text_field :proveedor %>
  </div>

  <div class="field">
    <%= f.label :autoriza %>
    <%= f.text_field :autoriza %>
  </div>

  <div class="field">
    <%= f.label :solicita %>
    <%= f.text_field :solicita %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
