<%= form_for(producto) do |f| %>
  <% if producto.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(producto.errors.count, "error") %> prohibited this producto from being saved:</h2>

      <ul>
      <% producto.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :articulo %>
    <%= f.text_field :articulo %>
  </div>

  <div class="field">
    <%= f.label :existencia %>
    <%= f.number_field :existencia %>
  </div>

  <div class="field">
    <%= f.label :stockmin %>
    <%= f.number_field :stockmin %>
  </div>

  <div class="field">
    <%= f.label :stockmax %>
    <%= f.number_field :stockmax %>
  </div>

  <div class="field">
    <%= f.label :disponibles %>
    <%= f.text_field :disponibles %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
