<p id="notice"><%= notice %></p>

<h1>Productos</h1>

<table>
  <thead>
    <tr>
      <th>Articulo</th>
      <th>Existencia</th>
      <th>Stockmin</th>
      <th>Stockmax</th>
      <th>Disponibles</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @productos.each do |producto| %>
      <tr>
        <td><%= producto.articulo %></td>
        <td><%= producto.existencia %></td>
        <td><%= producto.stockmin %></td>
        <td><%= producto.stockmax %></td>
        <td><%= producto.disponibles %></td>
        <td><%= link_to 'Show', producto %></td>
        <td><%= link_to 'Edit', edit_producto_path(producto) %></td>
        <td><%= link_to 'Destroy', producto, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Producto', new_producto_path %>
